body{
    background:lightblue;
    margin:0;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
    text-align:center;
}
div{
    border-radius: 20px;
    background:white;
    width:90%;
    max-width:300px ;
    justify-content:center;
    align-items:center;
    margin:auto;
    padding:20px;
    border:2px solid black ;
    box-shadow: 0px 0px 10px gray;
}    
img{
    
    width:150px;
    max-width: 100%;
    height:auto;
    border-radius:50%;
    box-shadow: 0 0 8px gray;

}
#head{
    color:blue;
    background:lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-weight: bold;
    
    line-height: normal;
    
}
#btn{
    background:blue;
    color:white;
    font-weight: bold;
    
    transition: 0.3s;
    cursor: pointer;
    padding:10px 20px;
    border:none;
}
#btn:hover{
    background:darkblue

}
div:hover{
    transform:scale(1.03);
    transition:0.3s;
}
/* Responsive */

@media (max-width:768px){

div{
    width:100%;
    max-width:340px;
    padding:20px;
}

img{
    width:130px;
}

#head{
    font-size:26px;
}

p{
    font-size:17px;
}

#btn{
    width:100%;
    padding:14px;
    font-size:17px;
}

}
